@import url("./fonts.css");

:root {
  --first: #51a3a3;
  --second: #75485e;
  --third: #cb904d;
  --fourth: #dfcc74;
  --fifth: #c3e991;
}

* {
  box-sizing: border-box;
  text-transform: capitalize !important;
  font-family: ubuntu;
}

body {
  background-color: var(--first) !important;
}

img {
  width: 100%;
}

button {
  padding: 5px 10px !important;
  border: none !important;
  border-radius: 10px !important;
  font-weight: bold !important;
}

section {
  padding: 10px 0px;
}

nav {
  position: sticky;
  top: 8px;
  background-color: var(--fourth);
  padding: 10px 5px;
  border-radius: 20px;
  z-index: 1111;

  .btnsSide {
    .toCart {
      border: none;
      background-color: transparent;

      svg {
        font-size: 20px;
        color: var(--second);
      }
    }
  }
}

.staffLog {
  background-color: var(--second);
  color: var(--fourth);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 0 10px #000;

  form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;

    .inputContainer {
      label {
        display: block;
        font-weight: bold;
      }
      input {
        width: 100%;
        font-weight: bold;
        background-color: var(--fourth);
        color: var(--second);
        border-radius: 10px;
        padding: 5px;
        border: none;
        outline: none;
        text-transform: none !important;

        &:focus {
          outline: none;
        }
      }
    }

    .btnArea {
      button {
        background-color: var(--fourth);
        color: var(--second);
      }
    }
  }
}

.searchContainer {
  input {
    border: none;
    outline: none;
    padding: 5px;
    background-color: var(--fourth);
    color: var(--second);
    border-radius: 10px;

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: var(--second);
    }
  }

  button {
    width: fit-content;
    background-color: var(--fourth);
    color: var(--second);
  }
}

.prodSection {
  .title {
    padding: 10px;
    color: var(--second);
  }
  .prodItem {
    background-color: var(--fourth);
    color: var(--second);
    border-radius: 10px;
    overflow: hidden;

    .actions {
      button {
        width: fit-content;
        background-color: var(--second);
        color: var(--fourth);
      }
    }
  }
}

.navTabs {
  button {
    margin: 0px 5px;
    background-color: var(--fourth);
    color: var(--second);
  }

  .selected {
    background-color: var(--second);
    color: var(--fourth);
  }
}

.InvSection {
  color: var(--second);

  .searchContainer {
    .prodSearch {
      border-radius: 10px;
      border: none;
      outline: none;
      padding: 5px;
      background-color: var(--fourth);
      color: var(--second);

      &:focus {
        border: none;
        outline: none;
      }
    }

    button {
      background-color: var(--fourth);
      color: var(--second);
    }
  }

  .crudForm {
    background-color: var(--second);
    padding: 10px;
    border-radius: 10px;

    .inputContainer {
      width: fit-content !important;
      input,
      select {
        border-radius: 10px;
        border: none;
        outline: none;
        padding: 5px;
        background-color: var(--fourth);
        color: var(--second);

        &::placeholder {
          color: var(--second);
        }

        &:focus {
          border: none;
          outline: none;
        }
      }
    }

    button {
      background-color: var(--fourth);
      color: var(--second);
    }
  }

  .productSide {
    .prodItem {
      background-color: var(--fourth);
      color: var(--second);
      border-radius: 10px;
      overflow: hidden;

      .actions {
        button {
          width: fit-content;
          margin-inline-end: 5px;
          background-color: var(--second);
          color: var(--fourth);
        }
      }
    }
  }
}

.OrdersSection {
  color: var(--second);
  .orderItem {
    background-color: var(--fourth);
    color: var(--second);
    border-radius: 10px;

    button {
      background-color: var(--second);
      color: var(--fourth);
    }
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
